<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,800;1,14..32,800&display=swap" rel="stylesheet">

    <!-- Koulen regular -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../styles/compiler.css">

    <title>Automata Simulator</title>
</head>
<body>
    <!-- HEADER DIV START -->
    <div class="header">
        <div class="header-title"> 
            AUTOMATA SIMULATOR
        </div>
        <div class="header-gap"></div>
        <button id="select-rejex-btn">
            Select Rejex
        </button>
    </div>
    <!-- HEADER DIV END -->



</body>
</html>