<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,800;1,14..32,800&display=swap" rel="stylesheet"/>

    <!-- Koulen regular -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="../static/styles.css" />
    
    <title>Automata Simulator</title>
  </head>
  <body>
    <!-- HEADER DIV START -->
    <div class="header">
      <div class="header-title">AUTOMATA SIMULATOR</div>
      <div class="header-gap"></div>

      <!-- Select Regex Dropdown -->
      <div class="dropdown-container" id="select-rejex-dropdown-container">
        <button class="dropdown-trigger" id="select-rejex-btn">Select A Regular Expression</button>
        <div class="dropdown-content">
          <button class="dropdown-option" id="regex-option1-ab">
            (aa+bb)(aba+bab+bbb)(a+b)*(aa+bb)(aa+bb)*(ab*ab*a)(ab*ab*a)*(bbb+aaa)(a+b)*
          </button>
          <button class="dropdown-option" id="regex-option2-01">
            (1*01*01*)(11+00)(10+01)*(1+0)(11+00)(1+0+11+00+101+111+000)(11+00)*(10*10*1)(11+00)*
          </button>
        </div>
      </div>
      <!-- Select Regex Dropdown -->
       
    </div>
    <!-- HEADER DIV END -->

    <!-- MAIN CONTENT WRAPPER DIV TAG -->
    <div class="main-content-wrapper">
      <!-- MAIN CONTENT WRAPPER DIV TAG -->

      <div class="visualization-bg">
        <!--container to display visualizations START -->
        <div class="visualization-canvas">
          <p style="color: grey; font-family: inter">
            diagram visualization container (temp)
          </p>
          <!-- temp -->
          <!-- Add visualization diagram here -->
        </div>
        <!--container to display visualizations END -->

        <!-- buttton run-visualization START -->
        <button id="run-simulation-btn">
          <div class="run-simulation-label">
            <!-- Assuming run-icon.svg exists in the same directory -->
            <img src="../static/assets/run-icon.svg" alt="Run Icon" />
            <span>Run Simulation</span>
          </div>
        </button>
        <!-- buttton run-visualization END -->
      </div>
      <!-- VISUAL BG END -->

      <!-- text input | choose language | print result | pattern used SECTION  -->
      <div class="bottom-section">
        <!-- text-input START -->
        <div class="txt-input-area">
          <!-- text area start -->
          <textarea name="pattern-input" id="pattern-input" placeholder="Input a pattern here..."></textarea>
          <!-- text area end -->
          <button id="pattern-validation-btn">Validate Pattern</button>
        </div>
        <!-- text-input END -->
        

        <!-- DFA, CFG, PDA & RESULT START -->
        <div class="bottom-right-section">
          <div class="selection-result-container">
              <button id="dfa-btn">DFA</button>
              <button id="cfg-btn">CFG</button>
              <button id="pda-btn">PDA</button>
            <div id="result-container">
              Result:
              <!-- valid/invalid result toggle: pattern-validation.js -->
              <span id="valid-label" class="result-label"> VALID </span>
              <span id="invalid-label" class="result-label"> INVALID </span>
            </div>
          </div>
          <!-- DFA, CFG, PDA & RESULT END -->
          <!-- text input | choose language | print result | pattern used SECTION  -->
           
          <div class="regex-used-container">
            <div class="regex-header">
              Regular Expression Used:
            </div>
            <div class="regex-content" id="regex-content"> </div>
          </div>           
          <!-- bottom-right section DIV tag END -->
        </div>
        <!-- bottom-right section DIV tag END -->

        <!-- Bottom section DIV -->
      </div>
      <!-- Bottom section DIV -->

    <!-- MAIN CONTENT WRAPPER DIV TAG -->
    </div>
    <!-- MAIN CONTENT WRAPPER DIV TAG -->

    <!-- SCRIPT FILES -->
    <script src="../static/scripts/pattern-validation.js"></script>
    <script src="../static/scripts/select-rejex-btn.js"></script>
    <script src="../static/scripts/simulation_btn.js"></script>
    <script src="../static/scripts/dfa-btn.js"></script>
    <script src="../static/scripts/cfg-btn.js"></script>
    <script src="../static/scripts/pda-btn.js"></script>
    <script src="../static/scripts/select-regex-dropdown.js"></script>
  </body>
</html>